@media only screen and (max-width: 600px) {
  .carousel-inner {
    text-align: center;
  }
  .carousel-caption {
    padding: 0px 10px ;
    text-align: center;
  }
  .about-section .about-content .about-info {
    top: 0px;
    left: 0px;
  }
  .work-area {
    margin-top: 900px;
  }
  .sec-title h2 {
    font-size: 28px;
  }

  .fact-card {
    margin-top: 100px;
  }
  .quote-form {
    padding: 15px 60px 60px;
    max-width: 820px;
    margin: 10px;
  }
  .quote-content {
    max-width: 100%;
    text-align: center;
  }
  .quote-youtube-btn .wrapper {
    left: 50%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* .about-section .about-content .about-info {
        top: 0px;
        left: 0px;
      } */
  .faq-card {
    margin-top: 100px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
