@media only screen and (max-width: 600px) {
  .carousel-inner {
    text-align: center;
  }
  .about-section .about-content .about-info {
    top: 0px;
    left: 0px;
  }
  .work-area {
    margin-top: 900px;
  }
  .sec-title h2 {
    font-size: 28px;
  }

  .faq-card {
    margin-top: 100px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* .about-section .about-content .about-info {
        top: 0px;
        left: 0px;
      } */
  .faq-card {
    margin-top: 100px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
