* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* carousel  */
.carousel-bg {
  background: linear-gradient(rgba(51, 91, 131, 0.6), rgba(51, 91, 131, 0.6)),
    url("../assets/img/bg-1.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.carousel-content p {
  font-size: 18px;
  line-height: 36px;
}
