* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root {
  --theme-color1: #0b3b5e;
  --theme-color2: #ff6d2e;
  --theme-color3: #ebf1f5;
  --theme-color4: #7c858c;
  --bg-theme-color1: #0b3b5e;
  --bg-theme-color2: #ff6d2e;
  --bg-theme-color3: #ebf1f5;
  --bg-theme-color4: #7c858c;
  --border-theme-color1: #0b3b5e;
  --border-theme-color2: #ff6d2e;
  --border-theme-color3: #ebf1f5;
  --border-theme-color4: #7c858c;
}
.primary-btn {
  position: relative;
  font-size: 13px;
  line-height: 25px;
  color: #ffffff;
  padding: 15px 40px;
  font-weight: 600;
  background: var(--bg-theme-color2);
  letter-spacing: 0.1em;
  overflow: hidden;
  text-transform: uppercase;
  display: inline-block;
  z-index: 1;
  border: none;
  transition: all 0.5s;
}
.primary-btn:before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  content: "";
  background-color: var(--bg-theme-color1);
  z-index: -1;
  transform: scale(0, 1);
  transform-origin: top right;
  transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 500ms cubic-bezier(0.86, 0, 0.07, 1);
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
.primary-btn:hover:before {
  transform: scale(1, 1);
  transform-origin: bottom left;
}
.primary-btn:hover {
  color: #ffffff;
  box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
  border: none;
}
/* carousel  */
.carousel-bg {
  background: linear-gradient(rgba(51, 91, 131, 0.3), rgba(51, 91, 131, 0.3)),
    url("../assets/img/bg-1.jpg");
  height: 100vh;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.carousel-content p {
  font-size: 18px;
  line-height: 36px;
}

/* about section start  */
.service-section {
  margin-top: -100px;
  position: relative;
  background: url("../assets/img/pattern-1.png");
  height: 668px;
  width: 100%;
}
.service-section .card {
  position: relative;
  background: #ffffff;
  padding: 80px 20px 20px;
  text-align: center;
  transition: all 300ms ease;
  margin-top: -50px;
  transition: all 0.5s;
}

.card-icon i {
  position: absolute;
  left: 50%;
  top: -55px;
  margin-left: -55px;
  height: 110px;
  width: 110px;
  background: var(--bg-theme-color2);
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 54px;
  border-radius: 50%;
  transition: all 300ms ease;
  z-index: 1;
}

.service-section .card:hover .card-icon i {
  background: var(--bg-theme-color1);
}
.service-section .card .img-box {
  overflow: hidden;
  transition: 0.5s all;
}
.service-section .card img {
  transition: 0.5s all;
  object-fit: cover;
}
.service-section .card:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 20px rgb(0 0 0 / 40%);
}
.service-section .card img:hover {
  transform: scale(1, 1.5);
}
.service-section .card p {
  font-size: 16px;
  line-height: 32px;
  color: #7c858c;
  padding: 0 20px;
  margin-bottom: 20px;
}
